@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

.game-container{
    display: flex;
    flex-direction: column-reverse;
    width: 1370px;
    height: 828px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 3px solid red;
}

body {
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.personagemNomeP1 {
    margin-top: 20px;
    font-family: "Pixelify Sans";
    font-size: 3em;
    color: white;
}

.personagemNomeP2 {
    margin-top: 20px;
    font-family: "Pixelify Sans";
    font-size: 3em;
    color: white;
}


/* Barra de vida dos jogadores */
.health-bars {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -20rem;
    width: 100%;
    padding: 0 20px;
}

.health-bar {
    width: 30rem;
    height: 2.5rem;
    background-color: grey;
    border: 2px solid white;
}

.health {
    height: 100%;
    background-color: green;
    width: 100%; /* Vida máxima */
}

.temporizador{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    font-size: 20rem;
    height: 20rem;
    width: 20rem;
    z-index: 10;
    font-family: "Pixelify Sans";
    color: red;
}

/* Plataforma */
.arena {
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 100%;
    top: 20rem;
}

.left-platform, .right-platform {
    position: relative;
    width: 20rem;
    height: 2rem;
    background-color: red;
}

.personagemContainerP1, .personagemContainerP2 {
    position: absolute;
}

.personagemP1, .personagemP2 {
    display: block;
    width: 10rem;
    height: 10rem;
}

.seta {
    width: 30px; 
    height: 25px; 
    image-rendering: pixelated;
    position: absolute;
    top: -30px; 
    left: 50%; 
    transform: translateX(-70%); 
    opacity: 0.7;
}

/*  Mesma lógica utilizada na parte de seleção de personagens */
@keyframes piscando {
    0% {
      filter: brightness(90%);  /* Cor normal */
    }
    50% {
      filter: brightness(30%);   /* Escurecer um pouco */
    }
    100% {
      filter: brightness(90%);  /* Voltar ao normal */
    }
  }

  .piscando {
    animation: piscando 1.5s infinite;
}



.seta > img {
    width: 100%;
    height: 100%;
}

.arena-chao {
    position: relative;
    display: block;
    height: 10%;
    background-color: red;
}

@keyframes cairParaTras {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(10px) rotate(45deg);
    }

    100% {
        transform: translateY(135px) rotate(90deg);
    }
}

@keyframes flashRed {
    0% {
        filter: none;
    }

    50% {
        filter: brightness(0) saturate(100%) hue-rotate(0deg) invert(1); /* Muda para vermelho */
    }

    100% {
        filter:none
    }
}

.dano {
    animation: flashRed 0.5s forwards; /* Aplica a animação por 0.5 segundos */
}

.morto {
    animation: cairParaTras 5s ease-in forwards;
}