@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
}

.personagemNomeP1 {
    margin-top: 20px;
    font-family: "Pixelify Sans";
    font-size: 3em;
    color: white;
}

.personagemNomeP2 {
    margin-top: 20px;
    font-family: "Pixelify Sans";
    font-size: 3em;
    color: white;
}


/* Barra de vida dos jogadores */
.health-bars {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -20rem;
    width: 100%;
    padding: 0 20px;
}

.health-bar {
    width: 30rem;
    height: 2.5rem;
    background-color: grey;
    border: 2px solid white;
}

.health {
    height: 100%;
    background-color: green;
    width: 100%; /* Vida máxima */
}

/* Plataforma */
.arena {
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 100%;
    top: 20rem;
}

.left-platform, .right-platform {
    position: relative;
    width: 20rem;
    height: 2rem;
    background-color: red;
}

.personagemP1{
    position: absolute;
    width: 7rem;
    height: 7rem;
    left: 100px;
    top: 40rem;
}

.pular {
    animation: pular 1s ease-in-out ;
}

.personagemP2{
    position: absolute;
    width: 7rem;
    height: 7rem;
    right: 10rem;
    top: 40rem;
}

.arena-ground {
    display: block;
    height: 10%;
    background-color: red;
}

@keyframes pular {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-200px); /* Altura do salto */
    }
    100% {
        transform: translateY(0);
    }
}