* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
}

/* Barra de vida dos jogadores */
.health-bars {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -15rem;
    width: 100%;
    padding: 0 20px;
}

.health-bar {
    width: 20rem;
    height: 2rem;
    background-color: grey;
    border: 2px solid white;
}

.health {
    height: 100%;
    background-color: green;
    width: 100%; /* Vida máxima */
}

/* Plataforma */
.arena {
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 100%;
    top: 20rem;
}

.left-platform, .right-platform {
    position: relative;
    width: 20rem;
    height: 2rem;
    background-color: red;
}

.personagemP1{
    position: absolute;
    width: 7rem;
    height: 7rem;
    left: 43rem;
    top: 63.6rem;
}

.personagemP2{
    position: absolute;
    width: 7rem;
    height: 7rem;
    right: 43rem;
    top: 63.6rem;
}

.arena-ground {
    display: block;
    height: 10%;
    background-color: red;
}
