@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

html, body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 1370px;
    height: 828px;
    box-sizing: border-box;
    background-color: black;
    border: 3px solid red;
}

.telainicial {
    position: relative;
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.telainicial img {
    position: relative;
    top: 100px;
    width: 500px;
    height: 250px;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* CSS do dialog */

.instrucoes-modal{
    border: 3px solid #d00000;
    background-color: black;
    border-radius: 5px;
    font-family: "Pixelify Sans";
    width: 30%;
    backdrop-filter: blur(5px);
}

.instrucoes-modal p {
    font-size: 1.3em;
}

.modal-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;

}

.fechar-modal{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 2rem;
    width: 2rem;
    color: white;
    background-color: #d00000;
    border: 1px solid rgb(88, 1, 1);
    border-radius: 5px;
    color: rgba(88, 1, 1);
    font-size: 1rem;
    font-family: "Pixelify Sans";
}
.fechar-modal:hover{
    color: white;
    background-color: rgb(129, 0, 0);
    cursor: pointer;
}

/* Botão com animação de quando aperta ele afunda */
button.start-button, button.instrucoes {
    padding: 15px 35px;
    font-family: "Pixelify Sans";
    font-size: 1.7em;
    color: white;
    background-color: #d00000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button.start-button:active, button.instrucoes:active {
    transform: translateY(3px);  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

/* Sprites e a animação deles, tudo utilizando css */

.sprites {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.sprite {
    width: 32px;   
    height: 32px;  
    background-image: url('/assets/images/Untitled-1.gif'); 
    background-repeat: no-repeat; 
    animation: play 1s steps(4) infinite; 
    transform: scale(7);
    image-rendering: pixelated;
}

.hidden {
    display: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.selecaopersonagens {
    display: grid;
    width: 100%;
    grid-template-columns: 40% 20% 40%;
    height: 100%;
}

.screen {
    font-family: "Pixelify Sans";
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: black;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.middle {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    height: 100vh; 
}

.choosecharacter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-top: 5px;
}

.selecionar-personagens-label {
    text-align: center;
    color: #d00000;
    background-color: black;
    padding: 5px;
    font-size: 2.5em;
    font-family: "Pixelify Sans";
}

.square {
    font-family: "Pixelify Sans";
    color: white;
    background-color:#d00000;
    padding: 50px;
    border-radius: 5%;
    border: 0.2em solid rgb(255, 255, 255);
    margin-bottom: 15px;
}

.pedra {
    background-image: url("/assets/images/personagens/selecao/Pedra.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.papel {
    background-image: url("/assets/images/personagens/selecao/Papel.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.tesoura {
    background-image: url("/assets/images/personagens/selecao/Tesoura.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}


.leftside, .rightside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.player-label {
    text-align: center;
    width: 70%;
    border: 0.1em solid rgb(255, 255, 255);;
    color: white;
    font-family: "Pixelify Sans";
    font-size: 2.3em;
    padding: 10px 0px;
    text-align: center;
}


.p1 {
    background-color: #d00000;
}

.p2 {
    background-color: rgb(37, 95, 255);
}

.character {
    width: 100%;
}

.characterselected {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.personagem1, .personagem2 {
    width: 400px;
    height: 400px;
    margin-bottom: 40px;
}

.atributos {
    display: flex;
    flex-direction: column;
    font-family: "Pixelify Sans";
    font-weight: bold;
    font-size: 1.7em;
    color: #ffffff;
    width: 70%;
    margin-bottom: 25px;
}

.atributo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.atributo img {
    width: 20px;
    height: 20px;
}

.button-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    align-items: center;
}

@keyframes vaievem {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.animacao-vaievem {
    animation: vaievem 2s infinite ease-in-out;
}

.right-confirm-character{
    width: 200px;
    height: 63px;
    padding: 15px 35px;
    font-family: "Pixelify Sans";
    font-size: 1.7em;
    color: white;
    background-color: rgb(37, 95, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.left-confirm-character{
    width: 200px;
    height: 63px;
    padding: 15px 35px;
    font-family: "Pixelify Sans";
    font-size: 1.7em;
    color: white;
    background-color: #d00000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@keyframes play {
    from { background-position: 0 0; }     
    to { background-position: -128px 0; }    
}

@keyframes escurecer {
    0% {
      filter: brightness(100%);  /* Cor normal */
    }
    50% {
      filter: brightness(70%);   /* Escurecer um pouco */
    }
    100% {
      filter: brightness(100%);  /* Voltar ao normal */
    }
  }

  .bordaVermelha {
    outline: 0.2em solid #b10000;
    outline-offset: 3px;
    animation: escurecer 1.5s infinite;
}

.boardaAzul {
    outline: 0.2em solid rgb(0, 79, 168);
    outline-offset: 3px;
    animation: escurecer 1.5s infinite;
}

.dualBorder {
    border: 0.2em solid #d00000;
    outline: 0.2em solid #004caf; 
    outline-offset: 2px; 
    animation: escurecer 1.5s infinite;
}

button.botaoMusica {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    border: 0.2em solid #b10000;
    border-radius: 5px;
    background-color: #d00000;
    padding: 5px;
    color: white;
}

.ativarMusica {
    top: 5px;
    right: 50px;
}

.desativarMusica {
    top: 5px;
    right: 5px;
}



