@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100;
}

main {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 30px;
    font-family: "Pixelify Sans";
    font-size: 1.5em;
    color: white;
    background-color: #d00000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(3px);  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}